body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0c0d0c;
    background-color: rgba(104, 123, 109, 0.7); /* Cambia el valor 0.7 para ajustar la opacidad */
}

/**.yellowH2 {
    text-align: center;
    padding: 10px; 
    transform: perspective(500px) rotateX(-10deg);
    color: rgb(243, 236, 26);
    text-shadow: 1px 1px 2px rgba(219, 6, 6, 0.911);
}*/

body {
    /*background-image: url('../img/lupulo2.jpg'); /* Ruta de la imagen de campo de lúpulo */
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: rgba(218, 193, 8, 0.466);
}

.custom-heading {
    border-radius: 10px;
    background-color: rgba(248, 247, 227, 0.3);
    box-shadow: 0 4px 6px rgba(33, 34, 1, 0.878);
    padding: 10px;
    color: #080800; /* Ajusta el color del texto según sea necesario */
    text-shadow: 2px 2px 4px rgba(247, 242, 242, 0.5);
    margin-bottom: 20px;
    margin-top: 20px;
}


.custom-card1 img.vertical-img-top  {
    width: 460px;
    height: 500px; /* Ajusta la altura deseada */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsión */
    box-shadow: 0 8px 16px rgba(249, 246, 246, 0.3);
    opacity: 0.95;
}


.custom-card {
    background: linear-gradient(135deg, #D2F7C7, #FDECEC);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(57, 152, 79, 0.5);
}


.custom-card img.card-img-top {
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: 200px; /* Establece la altura deseada para la imagen */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsión */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    opacity: 0.9;
  }
  


.custom-card1 {
    background: linear-gradient(135deg, #D2F7C7, #FDECEC);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(57, 152, 79, 0.5);
    border: 3px solid #FFC300;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000;
}
